<?xml version="1.0" encoding="utf-8"?>
<testsuites name="{{name}}" tests="{{log_entries|length}}" failures="{{failures}}">
    {% for log_entry in log_entries %}
    <testsuite name="{{log_entry.name}}" tests="1" errors="0" failures="{% if log_entry.success %}0{% else %}1{% endif %}">
        <testcase classname="{{log_entry.name}}" name="synthesize">
            {% if log_entry.success %}
            <system-out>{{log_entry.output|e}}</system-out>
            {% else %}
            <failure>{{log_entry.output|e}}</failure>
            {% endif %}
        </testcase>
    </testsuite>
    {% endfor %}
</testsuites>
